# required for notebook testing in workflow actions
# pinned to avoid surprises
#adding ipython_genutils to fix a weird papermill error
ipython_genutils
ipykernel==5.5.5
papermill==2.3.3
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
