# data science
numpy
scipy
pandas>=1.2.0
adlfs>=2021.8.1
scikit-learn
torch
torchvision

# tracking
mlflow
azureml-mlflow
aiohttp>=3.12.14 # not directly required, pinned by Snyk to avoid a vulnerability
