# pydata
numpy==1.22.2
scipy==1.10.0rc1
pandas==1.3.0
scikit-learn==0.24.2

# tracking
azureml-mlflow==1.34.0

# visualization
matplotlib==3.4.3

# tools
ipykernel==6.4.1
papermill==2.3.3
cryptography>=41.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.18 # not directly required, pinned by Snyk to avoid a vulnerability
